asgiref
attrs
botocore
aiobotocore
boto3==1.26.161
botocore==1.29.161
bottleneck
celery==5.3.6
# cfgrib is required to read grib2 files
cfgrib
dask==2023.5.0
dask-geopandas
dask-image
distributed
# ecmwflibs is required to fix this issue https://github.com/ecmwf/eccodes-python/issues/54#issuecomment-925036724
ecmwflibs
eccodes
filetype
Fiona
Flask
Flask-Cors
# fstd2nc is required to read FSTD
fstd2nc
GeoAlchemy2
geojson-pydantic
geopandas
gevent
greenlet
gunicorn
h5py
h5netcdf
ibm-cos-sdk~=2.13.1
ibm-cos-sdk-core~=2.13.5
ibm-cos-sdk-s3transfer~=2.13.1
ibmpairs~=3.0.9
imageio
importlib-resources~=5.12.0
jsonschema
kombu==5.3.4
netCDF4
networkx
numpy>=1.22.2
numbagg
odc-algo==0.2.3
odc-geo==0.3.3
openeo
openeo_driver @ git+https://github.com/Open-EO/openeo-python-driver.git@fa707ae4259c55b53aac8d290595d4383e5770a3
openeo-pg-parser-networkx~=2023.10.9
openeo-processes==0.0.4
openeo-processes-dask~=2023.10.7
pandas>=1.4.0
pendulum
Pillow
planetary_computer
psycopg2
# psycopg2-binary
pyarrow>=14.0.1
pydantic
pygeos
pyparsing
pyproj==3.5.0
pyrsistent
python-json-logger
pytz
pytzdata
rasterio
# https://github.com/celery/celery/discussions/8647
redis<5.0.1
requests>=2.32.0
rioxarray
s3fs
scikit-image
scipy
# openeo-driver requires shapely<2.0.0
shapely<2.0.0
SQLAlchemy
stack-data
stac-validator
stackstac==0.4.4
tornado>=6.3.3
# urllib3 security issue https://github.ibm.com/GeoDN-Discovery/main/issues/243
urllib3>=1.26.17
uvicorn
werkzeug>=2.3.8
wrapt
xarray[complete]~=2023.4.2
xgboost
zarr
