absl-py
affine~=2.4.0
aiobotocore~=2.22.0
aiodns~=3.4.0
aiohappyeyeballs~=2.6.1
aiohttp~=3.12.12
aioitertools~=0.12.0
aiosignal~=1.3.1
alabaster~=0.7.16
amqp~=5.2.0
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow~=1.3.0
asciitree
asgiref
asttokens
async-lru
asyncio~=3.4.3
attrs
botocore
aiobotocore
boto3
bottleneck
celery~=5.3.6
# cfgrib is required to read grib2 files
cfgrib
dask
dask-expr
dask-geopandas
dask-image
distributed
earthkit~=0.11.1
earthkit-data~=0.14.3
earthkit-geo~=0.3.0
earthkit-hydro~=0.1.4
earthkit-meteo~=0.3.0
earthkit-plots~=0.3.1
earthkit-plots-default-styles~=0.1.0
earthkit-regrid~=0.4.0
earthkit-time~=0.1.7
earthkit-transforms~=0.4.0
earthkit-utils~=0.0.1
# ecmwflibs is required to fix this issue https://github.com/ecmwf/eccodes-python/issues/54#issuecomment-925036724
ecmwflibs
eccodes
filetype
Fiona
Flask
Flask-Cors
# fstd2nc is required to read FSTD
# fstd2nc
geojson
GeoAlchemy2
geojson-pydantic
geopandas~=0.14.4
gevent~=24.2.1
google-api-core~=2.25.0
google-api-python-client~=1.12.11
google-auth~=2.40.3
google-auth-httplib2~=0.2.0
google-cloud-core~=2.4.1
google-cloud-storage~=2.19.0
google-crc32c~=1.7.1
google-resumable-media~=2.7.2
googleapis-common-protos~=1.70.0
greenlet~=3.1.1
gunicorn~=23.0.0
# h11 lower bound defined because of this security issue https://github.com/IBM/tensorlakehouse-openeo-driver/security/dependabot/1
h11>=0.16.0
h5netcdf~=1.6.1
h5py~=3.11.0
httpcore~=1.0.5
httplib2~=0.22.0
httpx~=0.27.2
ibm-cos-sdk~=2.13.6
ibm-cos-sdk-core~=2.13.6
ibm-cos-sdk-s3transfer~=2.13.6
identify~=2.6.1
idna~=3.10
ijson~=3.3.0
imageio~=2.35.1
imagesize~=1.4.1
importlib-resources~=5.12.0
importlib_metadata~=8.5.0
iniconfig~=2.0.0
ipykernel~=6.29.5
ipyleaflet~=0.19.2
ipywidgets~=8.1.5
isodate~=0.6.1
isoduration~=20.11.0
itsdangerous~=2.2.0
jedi~=0.19.1
# Jinja vulnerability issue https://github.com/pallets/jinja/commit/90457bbf33b8662926ae65cdde4c4c32e756e403
Jinja2>=3.1.6
jmespath~=1.0.1
joblib
json5~=0.9.25
jsonlines~=4.0.0
jsonpointer~=3.0.0
jsonschema~=4.23.0
jsonschema-specifications~=2023.12.1
jupyter-events~=0.10.0
jupyter-leaflet~=0.19.2
jupyter-lsp~=2.2.5
jupyter_client~=8.6.3
jupyter_core~=5.7.2
jupyter_server~=2.14.2
jupyter_server_terminals~=0.5.3
kiwisolver~=1.4.7
kombu~=5.3.4
kubernetes~=25.3.0
lark~=1.2.2
lazy_loader~=0.4
linear-tsv~=1.1.0
llvmlite~=0.43.0
locket~=1.0.0
lz4~=4.3.3
Markdown~=3.7
markdown-it-py~=2.2.0
MarkupSafe~=2.1.5
mccabe~=0.7.0
mdit-py-plugins~=0.3.5
mdurl~=0.1.2
mistune~=3.0.2
moto~=4.1.4
msgpack~=1.1.0
multidict~=6.1.0
mypy-extensions~=1.0.0
nbclient~=0.6.8
nbconvert~=7.16.4
nbformat~=5.10.4
nc-time-axis~=1.4.1
nest-asyncio~=1.6.0
netCDF4~=1.7.1.post2
networkx~=2.8.8
nodeenv~=1.9.1
notebook_shim~=0.2.4
numba~=0.60.0
numbagg~=0.8.2
numcodecs~=0.13.0
numexpr~=2.10.1
numpy~=1.26.4
numpy-groupies~=0.11.2
oauthlib~=3.2.2
odc-algo~=0.2.3
odc-geo~=0.4.8
odc-stac~=0.3.10
openeo~=0.41.0
openeo-pg-parser-networkx~=2025.5.1
openeo-processes~=0.0.4
openeo-processes-dask~=2025.5.1
# openeo_driver @ git+https://github.com/Open-EO/openeo-python-driver.git@fa707ae4259c55b53aac8d290595d4383e5770a3
openeo_driver @ git+https://github.com/Open-EO/openeo-python-driver.git@0511bdc4e9ab4c8f812dd7e6ed7ac8bef6ed9713
# openeo_driver @ git+https://github.com/leotizzei/openeo-python-driver.git@f995a1aa7869803036b9dff5b8259feadbe116c4
# openeo_driver @ git+https://github.com/leotizzei/openeo-python-driver.git
openpyxl~=3.1.5
orderly-set~=5.2.2
overrides~=7.7.0
packaging~=24.1
pandas~=2.2.3
pandocfilters~=1.5.1
parso~=0.8.4
partd~=1.4.2
pathspec~=0.12.1
pendulum~=2.1.2
pexpect~=4.9.0
Pillow>=10.3.0
PIMS~=0.7
planetary-computer~=1.0.0
platformdirs~=4.3.6
pluggy~=1.5.0
polling~=0.3.2
pooch~=1.8.2
prometheus_client~=0.21.0
prompt_toolkit~=3.0.47
proto-plus~=1.24.0
protobuf~=3.20.3
psutil~=6.0.0
psycopg2~=2.9.9
ptyprocess~=0.7.0
pure_eval~=0.2.3
py~=1.11.0
pyarrow
pyasn1~=0.6.1
pyasn1_modules~=0.4.1
pycares~=4.4.0
pycodestyle~=2.13.0
pycparser~=2.22
pydantic
pygeos
pyparsing
pyproj==3.5.0
pyrsistent
python-json-logger
pytz
pytzdata
rasterio
# https://github.com/celery/celery/discussions/8647
redis<5.0.1
requests>=2.32.0
rioxarray
s3fs
scikit-image
scipy
# openeo-driver requires shapely<2.0.0
shapely
SQLAlchemy
stac_validator~=3.3.2
stackstac
stack-data~=0.6.3
strip-hints~=0.1.10
tableschema~=1.20.11
tabulate~=0.9.0
tblib~=3.0.0
termcolor~=2.4.0
terminado~=0.18.1
tifffile~=2024.9.20
tinycss2~=1.3.0
toml~=0.10.2
toolz~=0.12.1
# tornado lower bound is defined because of this security issue https://github.com/IBM/tensorlakehouse-openeo-driver/security/dependabot/3
tornado>=6.5
tox~=4.20.0
traitlets~=5.9.0
traittypes~=0.2.1
typer~=0.12.5
typing_extensions~=4.12.2
tzdata~=2024.1
unicodecsv~=0.14.1
uri-template~=1.3.0
uritemplate~=3.0.1
urllib3~=1.26.20
uvicorn~=0.30.6
vine
virtualenv~=20.26.5
wcwidth
webcolors
webencodings
websocket-client~=1.8.0
werkzeug>=3.0.3
widgetsnbextension~=4.0.13
wrapt
xarray[complete]~=2023.4.2
xgboost
xvec<0.4.0
zarr
