shapely>=2.0b1
numpy
openeo==0.29.0
openeo-pg-parser-networkx==2023.10.9
openeo-processes==0.0.4
openeo-processes-dask==2023.10.9
matplotlib
pandas
dask
xarray
rioxarray
jupyterlab
dask_geopandas
PyGEOS
xvec
joblib
planetary_computer
stackstac
stac_validator
odc-algo==0.2.3
odc-geo==0.3.3
jupyterlab