shapely>=2.0b1
numpy
openeo==0.29.0
openeo-pg-parser-networkx==2023.10.9
openeo-processes==0.0.4
openeo-processes-dask==2023.10.9
matplotlib
pandas
dask
xarray
rioxarray
dask_geopandas
PyGEOS
xvec
joblib
planetary_computer
stackstac
stac_validator
psycopg2-binary~=2.9.10
odc-algo
odc-geo
odc-stac
jupyterlab
cftime
boto3
folium
netCDF4